@import "reset";

$font-opensans: "Open Sans", sans-serif;
$font-rubik: "Rubik", sans-serif;
$color-primary: #2a357c;
$color-primary-light: #e3f2fd;
$color-secondary: #db5462;
$color-success-light: #8cd996;
$color-text-dark: #4b4b4b;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-heavy: 700;

@function spacing($args...) {
    $mult: 0.8rem;
    $ret: ();
    @each $num in $args {
        $ret: append($ret, $num * $mult);
    }
    @return $ret;
}
@mixin vertical-bars {
    content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    top: 0;
    right: spacing(-0.5);
    transform: translate3d(0, 10%, 0);
    background-color: #e7e9f1;
}
@mixin horizontal-bars {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    bottom: spacing(-0.5);
    left: 0;
    transform: translate3d(10%, 0, 0);
    background-color: #e7e9f1;
}
// -----------------------------------------

html {
    font-size: 10px;
    display: flex;
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font: normal normal 1.4rem/2.4rem $font-opensans;
    background-color: white;
    margin: 0;
    padding: 0;
}

// utils starts
// -----------------------------------------
.heading {
    font-family: $font-rubik;
    text-transform: uppercase;
    font-weight: $weight-heavy;
    margin-bottom: spacing(3);
}
.heading-1 {
    @extend .heading;
    font-size: 4rem;
    line-height: spacing(6);
}
.heading-2 {
    @extend .heading;
    font-size: 2.8rem;
    line-height: spacing(4);
}
.heading-3 {
    @extend .heading;
    font-size: 2.5rem;
    line-height: spacing(4);
}
.heading-4 {
    @extend .heading;
    font-size: 1.8rem;
    line-height: spacing(4);
}
.heading-5 {
    @extend .heading;
    font-size: 2rem;
    line-height: spacing(3);
    text-transform: none;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: center;
}
.text-primary {
    color: $color-primary;
}
.text-secondary {
    color: $color-secondary;
}
.text-white {
    color: white;
}
.text-dark {
    color: $color-text-dark;
}
.body-copy-1 {
    font-size: 1.4rem;
    line-height: spacing(3);
}
// utils ends
// -----------------------------------------

// components starts
// -----------------------------------------
.container {
    padding: 0 3.2rem;
    max-width: 107.8rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
// -----------------------------------------
.logo {
    display: block;
    img {
        display: block;
    }
}
// -----------------------------------------
.mainmenu-wrapper {
    overflow: hidden;

    > ul {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        gap: spacing(3);
        justify-content: center;
        align-items: center;

        > li {
            position: relative;
            font-family: $font-rubik;
            font-size: 1.4rem;
            font-weight: $weight-medium;

            &::after {
                content: "";
                position: absolute;
                display: block;
                height: spacing(2);
                width: 1px;
                top: spacing(-0.5);
                right: spacing(-1.5);
                transform: translate3d(0, 50%, 0);
                background-color: $color-secondary;
            }

            &:last-of-type::after {
                content: none;
            }

            a:link,
            a:visited {
                text-transform: uppercase;
                color: $color-primary;
                display: block;
                transition: 0.3s color;
            }
            a:hover,
            a:focus {
                color: $color-secondary;
            }
        }
    }
}
// -----------------------------------------
.quick-contact-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: spacing(1);

    .quick-contact-item {
        flex-grow: 1;
    }
}
.quick-contact-item {
    font-family: $font-rubik;
    font-size: 1.4rem;
    font-weight: $weight-heavy;
    line-height: spacing(4);
    text-align: center;
    border-radius: spacing(2);
    display: block;
    min-width: spacing(15);
    padding: spacing(0, 2);
    transition: 0.3s background-color;

    span {
        padding-left: spacing(0.5);
    }

    &.tel {
        background-color: #f8fde3;
        &:hover {
            background-color: darken(#f8fde3, 10%);
        }
    }
    &.link {
        background-color: #e3f2fd;
        &:hover {
            background-color: darken(#e3f2fd, 10%);
        }
    }
}
// -----------------------------------------
.hero-banner {
    width: 100%;

    .banner-wrapper {
        width: 100%;
        height: spacing(40);

        .banner-item {
            width: 100%;
            height: spacing(40);
            position: relative;
            overflow: hidden;
            text-transform: uppercase;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                width: 100%;
                aspect-ratio: 1360/320;
                z-index: -1;
            }
            .desc-box {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: spacing(1);
                height: 100%;
                width: fit-content;
                padding: spacing(0, 4);
                margin-left: spacing(8);
                color: white;
                background-color: rgba($color-primary, 0.8);
                backdrop-filter: blur(3px);

                &::before,
                &::after,
                .bars {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    width: spacing(8);
                    height: 100%;
                    background-color: rgba($color-primary, 0.8);
                    backdrop-filter: blur(3px);
                }
                &::before {
                    right: 100%;
                    clip-path: polygon(0 0, 100% 0, 100% 100%);
                }
                &::after {
                    left: 100%;
                    clip-path: polygon(0 0, 100% 100%, 0 100%);
                }
                .bars {
                    z-index: 1;
                    left: 100%;
                    left: calc(100% + 1rem);
                    width: spacing(16);
                    clip-path: polygon(0 0, 50% 0, 100% 100%, 50% 100%);

                    + .bars {
                        left: 120%;
                        left: calc(100% + 8rem);
                        width: spacing(16);
                        clip-path: polygon(0 0, 20% 0, 75% 100%, 50% 100%);
                    }
                }

                .title {
                    font-family: $font-rubik;
                    font-size: 2.4rem;
                    line-height: spacing(4);
                    text-transform: uppercase;
                }
            }

            @media only screen and (max-width: 640px) {
                display: flex;
                align-items: center;

                .desc-box {
                    width: 100%;
                    height: auto;
                    margin: 0;
                    padding: spacing(4, 4);
                    background-color: rgba($color-primary, 0.5);

                    &::after,
                    &::before,
                    .bars {
                        content: none;
                        display: none;
                    }
                }
            }
        }
    }
    .hero-specs-list {
        margin-left: 2rem;

        li {
            text-transform: uppercase;
            padding-left: 1rem;

            &::marker {
                content: url(../images/icon-star.svg);
            }

            @media only screen and (max-width: 640px) {
                font-size: 1.2rem;
            }
        }
    }
}
.btn-mainmenu-toggle {
    width: spacing(4);
    height: spacing(4);
    border-radius: spacing(0.5);
    background: white url(../images/icon-burger.svg) no-repeat 50% 50%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    // @todo: animate menu btn
}
// -----------------------------------------
.icon-group-bare {
    display: flex;
    flex-direction: column;
    gap: spacing(1);
    justify-content: center;
    align-items: center;

    > .title {
        font-family: $font-rubik;
        text-transform: uppercase;
        text-align: center;
        line-height: spacing(2);
    }
}
// -----------------------------------------
// components ends
// -----------------------------------------

// pages starts
// -----------------------------------------
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.page-header {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: spacing(2);
    padding: spacing(3);
    align-items: center;
    justify-content: space-between;

    .btn-mainmenu-toggle {
        display: none;
    }

    @media only screen and (max-width: 980px) {
        grid-template-columns: repeat(2, auto);

        .mainmenu-wrapper {
            position: fixed;
            display: none;
        }
        .btn-mainmenu-toggle {
            display: block;
        }

        .quick-contact-wrapper {
            max-width: spacing(60);
            justify-self: center;
            grid-area: 2/1/3/3;
            width: 100%;
        }
    }
    @media only screen and (max-width: 640px) {
        .logo {
            width: spacing(13);
            height: spacing(4);

            img {
                width: 100%;
                height: auto;
            }
        }
        .btn-mainmenu-toggle {
            justify-self: end;
        }
    }
}
.body-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}
// -----------------------------------------
.doha-map-area-wrapper {
    background-color: $color-secondary;
    color: white;
    padding: spacing(9, 0);
}
.doha-map-area {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 25% 1fr;
    grid-template-columns: min(30%, 17rem) 1fr;
    grid-gap: spacing(2);

    .title {
        grid-area: 1/2/2/3;
        align-self: end;
        font-family: $font-rubik;
        font-size: 2.3rem;
        font-weight: $weight-medium;
        line-height: spacing(4);
    }
    .media-box {
        grid-area: 1/1/3/2;
        justify-self: center;
        align-self: center;
    }
    .desc-box {
        grid-area: 2/2/3/3;

        p {
            max-width: spacing(55);
        }
    }

    @media only screen and (max-width: 640px) {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        text-align: center;

        .title {
            grid-area: 1/1/2/2;
        }
        .media-box {
            grid-area: 2/1/3/2;
            .img-wrapper {
                width: spacing(25);
                height: spacing(25);
                margin: spacing(2, 0);

                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
        .desc-box {
            grid-area: 3/1/4/2;
        }
    }
}
// -----------------------------------------
.service-list-wrapper {
    padding: spacing(8, 0);
}
.service-list {
    display: grid;
    grid-gap: spacing(1);
    grid-template-columns: repeat(6, 1fr);

    > li {
        position: relative;
        padding: spacing(3, 0);

        &::after {
            @include vertical-bars;
        }
        &:last-of-type::after {
            content: none;
        }
    }

    @media only screen and (max-width: 900px) {
        grid-template-columns: repeat(3, 1fr);

        > li {
            &:nth-of-type(3n)::after {
                content: none;
            }
            &:nth-last-of-type(n + 4)::before {
                @include horizontal-bars;
            }
        }
    }
    @media only screen and (max-width: 600px) {
        grid-template-columns: auto;

        > li {
            &:nth-of-type(n)::after {
                content: none;
            }
            &:nth-last-of-type(n + 2)::before {
                @include horizontal-bars;
            }
        }
    }
}
// -----------------------------------------
.connect-up-wrapper {
    padding: spacing(8, 0, 10);
    background-color: $color-primary-light;

    @media only screen and (max-width: 600px) {
        padding: spacing(8, 0, 6);
    }

    .container > .title {
        color: #8a8f8a;
        margin-bottom: spacing(8);
        span {
            display: block;
            color: $color-success-light;
        }
        @media only screen and (max-width: 600px) {
            margin-bottom: spacing(4);
        }
    }
}
.connect-up-item {
    display: flex;
    gap: spacing(3, 7);
    margin: spacing(-3, 0);

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        margin: spacing(0, 0, 4);
    }

    &.connect-up-right {
        flex-direction: row-reverse;
        .media-box,
        .desc-box {
            text-align: right;
        }

        @media only screen and (max-width: 600px) {
            flex-direction: column;
            .media-box,
            .desc-box {
                text-align: center;
            }
        }
    }

    .media-box {
        width: spacing(25);
        flex-basis: spacing(25);
        height: spacing(25);
        border-radius: 50%;
        overflow: hidden;
    }
    .desc-box {
        display: flex;
        flex-grow: 1;
        flex-shrink: 100;
        flex-direction: column;
        justify-content: center;
        max-width: spacing(44);

        @media only screen and (max-width: 600px) {
            text-align: center;
        }

        .title {
            margin-bottom: spacing(1);
        }
        p {
            font-weight: $weight-medium;
            line-height: spacing(2);
        }
    }

    &.connect-up-call .media-box {
        background: url(../images/mobile-call-bg.jpg);
    }
    &.connect-up-whatsapp .media-box {
        background: url(../images/whatsapp-bg.jpg);
    }
}
// -----------------------------------------
// pages ends
// -----------------------------------------
