@import "reset";

$font-opensans: "Open Sans", sans-serif;
$font-rubik: "Rubik", sans-serif;
$color-primary: #2a357c;
$color-primary-light: #e3f2fd;
$color-primary-dark: #252941;
$color-secondary: #db5462;
$color-secondary-light: #f5cfd3;
$color-success: #129923;
$color-success-light: #8cd996;
$color-text-dark: #4b4b4b;
$color-text-gray: #999ec0;
$color-gray: #ededed;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-heavy: 700;

@function spacing($args...) {
    $mult: 0.8rem;
    $ret: ();
    @each $num in $args {
        $ret: append($ret, $num * $mult);
    }
    @return $ret;
}
@mixin vertical-bars {
    content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    top: 0;
    right: spacing(-0.5);
    transform: translate3d(0, 10%, 0);
    background-color: #e7e9f1;
}
@mixin horizontal-bars {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    bottom: spacing(-0.5);
    left: 0;
    transform: translate3d(10%, 0, 0);
    background-color: #e7e9f1;
}
// -----------------------------------------

html {
    font-size: 10px;
    display: flex;
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font: normal normal 1.4rem/2.4rem $font-opensans;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}
p {
    margin-bottom: spacing(2);
}

// forms stars
// -----------------------------------------
.input-box {
    margin-bottom: spacing(2);
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        height: spacing(6);
        border: 1px solid #ddd;
        font-size: 1.6rem;
        line-height: spacing(6);
        padding: spacing(0, 2);

        &:focus {
            outline: none;
        }
        &:invalid {
            border-color: $color-secondary;
            color: $color-secondary;
        }
    }

    textarea {
        line-height: spacing(3);
        height: auto;
    }
}
form .action-area {
    display: flex;
    justify-content: center;
    padding-top: spacing(4);
}
// forms ends
// -----------------------------------------

// utils starts
// -----------------------------------------
// typography
// --------------------
.heading {
    font-family: $font-rubik;
    text-transform: uppercase;
    font-weight: $weight-heavy;
    margin-bottom: spacing(3);
}
.heading-1 {
    @extend .heading;
    font-size: 4rem;
    line-height: spacing(6);
}
.heading-2 {
    @extend .heading;
    font-size: 2.8rem;
    line-height: spacing(4);
}
.heading-3 {
    @extend .heading;
    font-size: 2.5rem;
    line-height: spacing(4);
}
.heading-4 {
    @extend .heading;
    font-size: 1.8rem;
    line-height: spacing(4);
}
.heading-5 {
    @extend .heading;
    font-size: 2rem;
    line-height: spacing(3);
    text-transform: none;
}
.heading-6 {
    @extend .heading;
    font-size: 1.6rem;
    line-height: spacing(3);
    font-weight: $weight-medium;
    text-transform: none;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: center;
}
.text-primary {
    color: $color-primary;
}
.text-secondary {
    color: $color-secondary;
}
.text-white {
    color: white;
}
.text-dark {
    color: $color-text-dark;
}
.text-gray {
    color: $color-text-gray;
}
.body-copy-1 {
    font-size: 1.4rem;
    line-height: spacing(3);
}
a:link,
a:visited {
    text-decoration: underline;
}
.bg-white {
    background-color: white;
}
.bg-gray {
    background-color: $color-gray;
}
.bg-primary {
    background-color: $color-primary;
}
.bg-secondary {
    background-color: $color-secondary;
}
// buttons
// --------------------
.btn-main {
    padding: spacing(0, 3);
    white-space: nowrap;
    margin: 0;
    border-radius: spacing(3);
    text-transform: uppercase;
    font-family: $font-rubik;
    font-size: 2rem;
    font-weight: $weight-medium;
    line-height: spacing(6);
    min-width: min(100%, #{spacing(25)});
    transition: 0.3s;

    &:hover,
    &:focus {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
}
.btn-primary {
    background-color: $color-primary;
    color: white;
    &:hover,
    &:focus {
        background-color: darken($color-primary, 10%);
    }
}
.btn-secondary {
    background-color: $color-secondary;
    color: white;
    &:hover,
    &:focus {
        background-color: darken($color-secondary, 10%);
    }
}
// -----------------------------------------
.half-split-wrapper {
    display: flex;
    flex-wrap: nowrap;

    @media only screen and (max-width: 800px) {
        flex-wrap: wrap;
    }

    .half-split-item {
        flex-basis: 50%;
        width: 50%;
        flex-grow: 1;
        padding-left: spacing(2);
        padding-right: spacing(2);

        @media only screen and (max-width: 800px) {
            width: 100%;
            flex-basis: 100%;
        }
    }
    .half-split-item:first-of-type {
        padding-left: calc((100% - 107.8rem + #{spacing(4)}) / 2);
        @media only screen and (max-width: 1078px) {
            padding-left: spacing(4);
        }
    }
    .half-split-item:last-of-type {
        padding-right: calc((100% - 107.8rem + #{spacing(4)}) / 2);
        @media only screen and (max-width: 1078px) {
            padding-right: spacing(4);
        }
    }
}
// -----------------------------------------
.icon-def-list {
    display: flex;
    flex-direction: column;
    gap: spacing(1);
}
.icon-def-item {
    display: grid;
    grid-template-columns: #{spacing(6)} 1fr;
    grid-gap: spacing(0, 4);

    .icon-box {
        grid-area: 1/1/3/2;
    }
    .title {
        grid-area: 1/2/2/3;
        margin-bottom: spacing(0.5);
    }
    .desc-box {
        grid-area: 2/2/3/3;
        line-height: spacing(2);
    }
}
// -----------------------------------------
.social-media-list {
    display: flex;
    gap: spacing(1);

    .social-link {
        display: block;
        white-space: nowrap;
        text-indent: 1000px;
        overflow: hidden;
        width: spacing(3);
        height: spacing(3);
        border-radius: 4px;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.3s;

        &:hover,
        &:active {
            background-color: white;
        }

        &.social-fb {
            background-image: url(../images/icon-fb.svg);
        }
        &.social-tw {
            background-image: url(../images/icon-twitter.svg);
        }
        &.social-wt {
            background-image: url(../images/icon-whatsapp.svg);
        }
        &.social-yt {
            background-image: url(../images/icon-youtube.svg);
        }
        &.social-lk {
            background-image: url(../images/icon-linkedin.svg);
        }
    }
}
// -----------------------------------------
.tel-box {
    span {
        padding-left: spacing(1);
    }
}
.desc-box {
    .tel-box:hover,
    .tel-box:active {
        color: $color-success;
    }
}
// -----------------------------------------
.grid-2x1 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media only screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
    }
}
// -----------------------------------------
.generic-list {
    > li {
        line-height: spacing(2);
        margin-bottom: spacing(2);
        padding-left: spacing(1);
    }
}
.generic-list-primary {
    @extend .generic-list;

    > li::marker {
        content: url(../images/icon-star-blue.svg);
    }
}
.generic-list-secondary {
    @extend .generic-list;

    > li::marker {
        content: url(../images/icon-star-red.svg);
    }
}
.generic-list-white {
    @extend .generic-list;

    > li::marker {
        content: url(../images/icon-star.svg);
    }
}
// -----------------------------------------
.page-banner {
    width: 100%;
    height: spacing(25);
    flex-shrink: 0;
    background-color: $color-gray;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: 600px) {
        height: spacing(15);
    }
}
// -----------------------------------------
// utils ends
// -----------------------------------------

// components starts
// -----------------------------------------
.container {
    padding: 0 3.2rem;
    max-width: 107.8rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
// -----------------------------------------
.logo {
    display: block;
    img {
        display: block;
    }
}
// -----------------------------------------
.mainmenu-wrapper {
    overflow: hidden;

    > ul {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        gap: spacing(3);
        justify-content: center;
        align-items: center;

        > li {
            position: relative;
            font-family: $font-rubik;
            font-size: 1.4rem;
            font-weight: $weight-medium;

            &::after {
                content: "";
                position: absolute;
                display: block;
                height: spacing(2);
                width: 1px;
                top: spacing(-0.5);
                right: spacing(-1.5);
                transform: translate3d(0, 50%, 0);
                background-color: $color-secondary;
            }

            &:last-of-type::after {
                content: none;
            }

            a:link,
            a:visited {
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                color: $color-primary;
                transition: 0.3s color;
            }
            a:hover,
            a:focus {
                color: $color-secondary;
            }
        }
    }
    > .title {
        display: block;
        position: absolute;
        width: 100%;
        top: spacing(4);
        margin: 0;
        display: none;

        @media only screen and (max-width: 980px) {
            display: block;
        }
    }
}
// -----------------------------------------
.quick-contact-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: spacing(1);

    .quick-contact-item {
        flex-grow: 1;
        text-decoration: none;
    }
}
.quick-contact-item {
    font-family: $font-rubik;
    font-size: 1.4rem;
    font-weight: $weight-heavy;
    line-height: spacing(4);
    text-align: center;
    border-radius: spacing(2);
    display: block;
    min-width: spacing(15);
    padding: spacing(0, 2);
    transition: 0.3s background-color;

    &.tel {
        background-color: #f8fde3;
        &:hover {
            background-color: darken(#f8fde3, 10%);
        }
    }
    &.link {
        background-color: #e3f2fd;
        &:hover {
            background-color: darken(#e3f2fd, 10%);
        }
    }
}
// -----------------------------------------
.hero-banner {
    width: 100%;

    .banner-wrapper {
        width: 100%;
        height: spacing(40);

        .banner-item {
            width: 100%;
            height: spacing(40);
            position: relative;
            overflow: hidden;
            text-transform: uppercase;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                width: 100%;
                aspect-ratio: 1360/320;
                z-index: -1;
            }
            .desc-box {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: spacing(1);
                height: 100%;
                width: fit-content;
                padding: spacing(0, 4);
                margin-left: spacing(8);
                color: white;
                background-color: rgba($color-primary, 0.8);
                backdrop-filter: blur(3px);

                &::before,
                &::after,
                .bars {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    width: spacing(8);
                    height: 100%;
                    background-color: rgba($color-primary, 0.8);
                    backdrop-filter: blur(3px);
                }
                &::before {
                    right: 100%;
                    clip-path: polygon(0 0, 100% 0, 100% 100%);
                }
                &::after {
                    left: 100%;
                    clip-path: polygon(0 0, 100% 100%, 0 100%);
                }
                .bars {
                    z-index: 1;
                    left: 100%;
                    left: calc(100% + 1rem);
                    width: spacing(16);
                    clip-path: polygon(0 0, 50% 0, 100% 100%, 50% 100%);

                    + .bars {
                        left: 120%;
                        left: calc(100% + 8rem);
                        width: spacing(16);
                        clip-path: polygon(0 0, 20% 0, 75% 100%, 50% 100%);
                    }
                }

                .title {
                    font-family: $font-rubik;
                    font-size: 2.4rem;
                    line-height: spacing(4);
                    text-transform: uppercase;
                }
            }

            @media only screen and (max-width: 640px) {
                display: flex;
                align-items: center;

                .desc-box {
                    width: 100%;
                    height: auto;
                    margin: 0;
                    padding: spacing(4, 4);
                    background-color: rgba($color-primary, 0.5);

                    &::after,
                    &::before,
                    .bars {
                        content: none;
                        display: none;
                    }
                }
            }
        }
    }
    .hero-specs-list {
        margin-left: 2rem;

        li {
            text-transform: uppercase;
            padding-left: 1rem;

            &::marker {
                content: url(../images/icon-star.svg);
            }

            @media only screen and (max-width: 640px) {
                font-size: 1.2rem;
            }
        }
    }
}
.btn-mainmenu-toggle {
    width: spacing(4);
    height: spacing(4);
    background: url(../images/icon-burger.svg) no-repeat 50% 50%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1000;

    &.opened {
    }

    @media only screen and (min-width: 980px) {
        display: none;
    }
    @media only screen and (max-width: 980px) {
        display: block;
    }

    // @todo: animate menu btn
}
// -----------------------------------------
a.icon-group-bare {
    display: flex;
    flex-direction: column;
    gap: spacing(1);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $color-primary;
    transition: 0.3s;

    &:hover,
    &:active {
        color: $color-success;
    }

    > .title {
        font-family: $font-rubik;
        text-transform: uppercase;
        text-align: center;
        line-height: spacing(2);
    }
}
// -----------------------------------------
// components ends
// -----------------------------------------

// pages starts
// -----------------------------------------
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.page-header {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: spacing(2);
    padding: spacing(3);
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 980px) {
        grid-template-columns: repeat(2, auto);

        .mainmenu-wrapper {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding-top: spacing(10);
            z-index: 1000;
            background-color: rgba($color-primary, 90%);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: 0.3s;

            &.opened {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }

            > ul {
                flex-direction: column;
                align-items: stretch;
                height: 100%;

                > li {
                    flex-grow: 1;

                    ::after {
                        content: "";
                    }

                    a:link,
                    a:visited {
                        display: flex;
                        text-align: center;
                        color: white;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        transition: 0.2s;
                    }
                    a:hover,
                    a:active {
                        background-color: white;
                        color: $color-primary;
                    }
                }
            }
        }
        .btn-mainmenu-toggle {
        }
        .btn-mainmenu-toggle.opened {
            display: block;
            position: fixed;
            top: spacing(4);
            right: spacing(4);
            width: spacing(4);
            height: spacing(4);
            background: url(../images/icon-burger.svg) no-repeat 50% 50%;
            filter: brightness(5);
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            z-index: 1001;
            background-color: white;
        }

        .quick-contact-wrapper {
            max-width: spacing(60);
            justify-self: center;
            grid-area: 2/1/3/3;
            width: 100%;
        }
        &.opened .btn-mainmenu-toggle {
            filter: brightness(5);
        }
        .mainmenu-wrapper > ul > li {
            border-bottom: 1px solid $color-primary-dark;
        }
        /** @todo: make meu btn 'X' while in open state */
    }
    @media only screen and (max-width: 640px) {
        .logo {
            width: spacing(13);
            height: spacing(4);

            img {
                width: 100%;
                height: auto;
            }
        }
        .btn-mainmenu-toggle {
            justify-self: end;
        }
    }
}
.body-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}
// -----------------------------------------
.doha-map-area-wrapper {
    background-color: rgb(1, 33, 105);
    color: white;
    padding: spacing(9, 0);
}
.doha-map-area {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 25% 1fr;
    grid-template-columns: min(30%, 17rem) 1fr;
    grid-gap: spacing(2);

    .title {
        grid-area: 1/2/2/3;
        align-self: end;
        font-family: $font-rubik;
        font-size: 2.3rem;
        font-weight: $weight-medium;
        line-height: spacing(4);
    }
    .media-box {
        grid-area: 1/1/3/2;
        justify-self: center;
        align-self: center;
    }
    .desc-box {
        grid-area: 2/2/3/3;

        p {
            max-width: spacing(80);
        }
    }

    @media only screen and (max-width: 640px) {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        text-align: center;

        .title {
            grid-area: 1/1/2/2;
        }
        .media-box {
            grid-area: 2/1/3/2;
            .img-wrapper {
                width: spacing(25);
                height: spacing(25);
                margin: spacing(2, 0);

                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
        .desc-box {
            grid-area: 3/1/4/2;
        }
    }
}
// -----------------------------------------
.service-list-wrapper {
    padding: spacing(8, 0);
}
.service-list {
    display: grid;
    grid-gap: spacing(1);
    grid-template-columns: repeat(6, 1fr);

    > li {
        position: relative;
        padding: spacing(3, 0);

        &::after {
            @include vertical-bars;
        }
        &:last-of-type::after {
            content: none;
        }
    }

    @media only screen and (max-width: 900px) {
        grid-template-columns: repeat(3, 1fr);

        > li {
            &:nth-of-type(3n)::after {
                content: none;
            }
            &:nth-last-of-type(n + 4)::before {
                @include horizontal-bars;
            }
        }
    }
    @media only screen and (max-width: 600px) {
        grid-template-columns: auto;

        > li {
            &:nth-of-type(n)::after {
                content: none;
            }
            &:nth-last-of-type(n + 2)::before {
                @include horizontal-bars;
            }
        }
    }
}
// -----------------------------------------
.connect-up-wrapper {
    padding: spacing(8, 0, 10);
    background-color: $color-primary-light;

    @media only screen and (max-width: 600px) {
        padding: spacing(8, 0, 6);
    }

    .container > .title {
        color: #8a8f8a;
        margin-bottom: spacing(8);
        span {
            display: block;
            color: $color-success-light;
        }
        @media only screen and (max-width: 600px) {
            margin-bottom: spacing(4);
        }
    }
}
.connect-up-item {
    display: flex;
    gap: spacing(3, 7);
    margin: spacing(-3, 0);

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        margin: spacing(0, 0, 4);
    }

    &.connect-up-right {
        flex-direction: row-reverse;
        .media-box,
        .desc-box {
            text-align: right;
        }

        @media only screen and (max-width: 600px) {
            flex-direction: column;
            .media-box,
            .desc-box {
                text-align: center;
            }
        }
    }

    .media-box {
        width: spacing(25);
        flex-basis: spacing(25);
        height: spacing(25);
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
    }
    .desc-box {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        max-width: spacing(44);

        @media only screen and (max-width: 600px) {
            text-align: center;
        }

        .title {
            margin-bottom: spacing(1);
        }
        p {
            font-weight: $weight-medium;
            line-height: spacing(2);
        }
    }

    &.connect-up-call .media-box {
        background: url(../images/mobile-call-bg.jpg);
    }
    &.connect-up-whatsapp .media-box {
        background: url(../images/whatsapp-bg.jpg);
    }
}
// -----------------------------------------
.page-banner-about {
    background-image: url(../images/about-bg.jpg);
}
// -----------------------------------------
.home-half-split {
    .half-split-item {
        padding-top: spacing(8);
        padding-bottom: spacing(8);
    }
    .about-box {
        padding-right: spacing(4);
    }
    .values-box {
        background-color: $color-primary;
        padding-left: spacing(4);
    }
}
// -----------------------------------------
.catalog-download-wrapper {
    padding: spacing(8, 0);
    background: rgb(28, 10, 36);
    background: linear-gradient(
        180deg,
        rgba(28, 10, 36, 1) 0%,
        rgba(28, 10, 36, 1) 50%,
        rgba(250, 250, 250, 1) 50%,
        rgba(250, 250, 250, 1) 100%
    );
}
.catalog-download {
    display: flex;
    flex-wrap: nowrap;
    gap: spacing(3);
    background-color: white;
    padding-top: spacing(4);
    padding-bottom: spacing(4);
    padding-left: Max(15%, #{spacing(4)});
    padding-right: Max(15%, #{spacing(4)});
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    > .media-box {
        width: spacing(23);
        flex-basis: spacing(23);
        height: spacing(25);
        flex-shrink: 0;
        background: url(../images/brochure-bg.svg) 50% 50% no-repeat;
        background-size: cover;
    }
    > .desc-box {
        display: flex;
        flex-direction: column;
        gap: spacing(1);
        align-items: flex-start;
        justify-content: center;

        .title {
            margin-bottom: 0;
        }
        p {
            margin-bottom: spacing(0.5);
        }
    }

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        padding: spacing(6);
        text-align: center;
        align-items: center;

        > .desc-box {
            align-items: stretch;
            gap: spacing(3);

            .title {
                text-align: center;
            }
        }
    }
}
// -----------------------------------------
.logo-footer-wrapper {
    background: white;
    padding: spacing(3, 0);
}
.footer-main {
    background-color: $color-primary-dark;
    color: white;
    padding: spacing(6, 0, 3);
}
.footer-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: spacing(4);

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        text-align: center;
    }

    .address-box {
        display: flex;
        flex-direction: column;

        .title {
            margin-bottom: spacing(0.5);
        }
        address {
            display: flex;
            flex-direction: column;
            gap: spacing(2);
            height: 100%;
            font-style: normal;
            line-height: spacing(2);

            p {
                margin: 0;
            }
            p + p {
                flex-grow: 1;
            }
        }
    }
    .social-box {
        display: flex;
        align-items: flex-end;

        @media only screen and (max-width: 600px) {
            justify-content: center;
        }
    }
}
.footer-legal {
    padding: spacing(0, 0, 6);
    background-color: $color-primary-dark;
}
.footer-legal > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: spacing(2);

    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }
}
.legalese-link {
    display: flex;
    gap: spacing(2);
    font-size: 1.2rem;

    > li {
        position: relative;
        line-height: spacing(2);

        &::after {
            @include vertical-bars();
            right: spacing(-1);
        }
        &:last-of-type::after {
            content: none;
        }

        a {
            transition: 0.3s;
        }
        a:hover,
        a:active {
            color: white;
        }
    }
}
// -----------------------------------------
.callus-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-secondary;
    padding: spacing(4, 0);
    font-size: 2rem;
    line-height: spacing(4);
    color: white;
    text-align: center;

    strong {
        @extend .heading-2;
        color: $color-secondary-light;
        margin-bottom: 0;
    }
    a.tel-box {
        display: block;
        text-decoration: none;
    }
}
// -----------------------------------------
.about-us-wrapper {
    background-color: white;
    padding: spacing(8, 0);

    .grid-2x1 {
        grid-gap: spacing(4);
    }
    .van-box {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}
// -----------------------------------------
.mission-vision-wrapper {
    > .half-split-item {
        padding-top: spacing(6);
        padding-bottom: spacing(6);
    }
    .mission-box {
        background-color: $color-gray;
        padding-right: spacing(4);
    }
    .vision-box {
        background-color: $color-primary;
        padding-left: spacing(4);
    }
}
// -----------------------------------------
.our-values-wrapper {
    padding: spacing(10, 0, 6);
    color: white;
    background: $color-primary url(../images/dark-workers-bg.jpg) no-repeat center center;
    background-size: cover;

    .container > .desc-box {
        text-align: center;
        max-width: spacing(90);
        margin: auto;
    }

    .icon-def-list {
        margin: spacing(4, 0);
        display: grid;
        grid-template-columns: repeat(4, #{spacing(27)});
        grid-gap: spacing(2, 2);
        justify-content: space-between;

        @media only screen and (max-width: 980px) {
            grid-template-columns: repeat(2, 21.6rem);
            justify-content: center;
        }
        @media only screen and (max-width: 600px) {
            grid-template-columns: spacing(27);
        }

        .icon-def-item {
            grid-template-columns: 1fr;
            grid-gap: spacing(1);
            text-align: center;

            .icon-box {
                grid-area: auto;
            }
            .title {
                grid-area: auto;
            }
            .desc-box {
                grid-area: auto;
            }
        }
    }
}
// -----------------------------------------
.sustainability-wrapper {
    padding: spacing(10, 0);
    .grid-2x1 {
        grid-gap: spacing(4);
    }
}
// -----------------------------------------
.about-generic {
    padding: spacing(8, 0);

    .grid-2x1 {
        gap: spacing(4, 6);

        @media only screen and (max-width: 600px) {
            // grid-template-columns: 1fr;
        }

        .grid-item:last-of-type {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    .title {
        margin-bottom: spacing(2);
    }
}
// -----------------------------------------
.page-banner-ourteam {
    background-image: url(../images/our-team-bg.jpg);
}
.ourteam-generic {
    padding: spacing(8, 0);
    .grid-2x1 {
        grid-gap: spacing(4);
    }
}
// -----------------------------------------
.page-banner-services {
    background-image: url(../images/services-bg.jpg);
}
.service-para-wrapper {
    padding: spacing(8, 0);

    .grid-2x1 {
        grid-gap: spacing(4);
    }
}
// -----------------------------------------
.service-area {
    padding: spacing(10, 0);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        > .media-box {
            width: spacing(10);
            height: spacing(10);
            border-radius: 50%;
            background-color: white;
            margin-bottom: spacing(3);
        }
        > .grid-2x1 {
            grid-gap: spacing(4);

            > .grid-item + .grid-item ul {
                margin-left: spacing(2);
            }
        }
    }
}
// -----------------------------------------
.service-area-smart {
    background-color: #e4aeff;
}
.service-area-energy {
    background-color: #3b0c0c;
}
// -----------------------------------------
.page-banner-contact {
    background-image: url(../images/contact-bg.jpg);
}
.contact-area-wrapper {
    padding: spacing(15, 0);
}
.contact-area {
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16);

    .contact-text-area {
        display: flex;
        flex-direction: column;
        padding: spacing(4);

        .desc-box {
            flex-grow: 1;
        }
        address {
            font-style: normal;
            font-size: 1.6rem;
            font-family: $font-rubik;
            font-weight: $weight-medium;
            line-height: spacing(2.5);
            margin-bottom: spacing(2);

            a.tel-box {
                text-decoration: none;
            }
        }
    }
}
.contact-form-wrapper {
    padding: spacing(10, 0);

    .grid-2x1 {
        grid-gap: spacing(4);

        .input-box:last-of-type {
            margin-bottom: 0;
        }

        .grid-item:first-of-type {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .text-area-box {
        // display: flex;
        width: 100%;
        height: 100%;

        .input-box,
        textarea {
            height: 100%;
            width: 100%;
            margin: 0;
        }
    }
}
// -----------------------------------------
.terms-wrapper,
.policy-wrapper {
    padding: spacing(10, 0);

    .title {
        margin-top: spacing(4);
        margin-bottom: spacing(1);
    }
}
// -----------------------------------------
// pages ends
// -----------------------------------------
